<div class="container">
<div class="row justify-content-center">
  <p class="favorite">Your Favorite Posts</p>
</div>
  <% @favorites.each do |f| %>
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
     <div class="card text-center shadow  mb-5 bg-white rounded">
      <div class="card-header font-italic ">

      </div>
      <div class="card-body">
      <h5 class="Post"></h5>
      <p class="card-text"><%=truncate(f.chat.post, length:100) %>
        </p><br>
        <% if f.chat.image.url %>
          <%=image_tag f.chat.image.url,size: "200x180" %>
        <% end %>
        <br><br>
    </div>
    <div class="card-footer text-muted">
      <small> <%=time_ago_in_words(f.chat.created_at)%> ago </small>
    </div>
  </div>
  </div>
  </div>
  <%end%>
</div>
<br>
<br>
