<div class="row justify-content-center">
  <div class="container">
    <h2>Post created!</h2>
    <h4> New post details ...</h4>
    <div class="card" style="width: 27rem;">
    <p><%=image_tag(@chat.image.url, size: "317x215",class:"card-img-top") %></p>
      <div class="card-body">
        <h4 class="card-title"><strong>Created by:</strong><%=@chat.user.name %></h4>
        <p class="card-text"><%= @chat.post %></p>
        <hr style="height:2px;border:none;color:brown;background-color:brown;" />
      </div>
    </div>
  </div>
</div>
