// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';
//

.navbar {
  width: 100%;
  background-color: #DE3163;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #gray;
}

.card-footer{font-size: 2rem;

}

.card-body{font-size: 2rem;

}

  .navbar a {
    float: none;
    display: block;
  }
  .navbar a {
    float: none;
    display: block;
  }
