// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

.navbar {
  width: 100%;
  background-color: #DE3163;
  overflow: auto;
}

.font{font-size: 2rem;
  font-weight: 600;
  color: #DE3163;
  font-style: oblique;
}
.post{font-size: 2rem;
  font-weight: 600;
  color: #DE3163;
  font-style: oblique;

.form-group{font-size: 1.5rem;
  color: #DE3163;
}

}
.card-header{font-size: 1rem;
  font-weight: 600;

}

html,
body {font-size: 0.8rem;
  height: 100%;
}


#logo{

  font-size: 3rem;
  font-style: oblique;

}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar:hover{
  background-color: #DE3163;
}

.card-footer{font-size: 2rem;

}

.confirm{background-color:#DE3163;
  color: white;
  font-weight: 500;

}
.card-body{font-size: 2rem;
color: white;
}
.card-text{font-size: 1.5rem;
  color:#DE3163;

}
.card-title{font-size: 2rem;
  font-weight: 600;
  color:#DE3163;

}

.navbar a {
    float: none;
    display: block;
  }
.navbar a {
    float: none;
    display: block;
  }

  .footer {
    font-size: 1.5rem;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#DE3163;
    color: white;
    text-align: center;
  }

  .btn {
    background-color: #DE3163;
    font-weight: 500;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;

  }
  .btn:hover {
    background-color: pink;
  }
