// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.favorite{font-size: 2rem;
  font-weight: 600;
  font-style: oblique;
  color: #DE3163;

}
