<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="navbar mr-auto">
  <ul class="navbar-nav mr-auto">
    <%=link_to "Instagram", chats_path, class:"fa fa-fw fa-home", id:"logo"%>
  </ul>
  <a href="#"><i class="fa fa-fw fa-search",justify-content-cente></i> Search</a>
  <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
  <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
</div>
